@import "../../../styles/styles.scss";

.section-container {
    height: 20vh;
    min-height: 25px;
    width:25vw;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(225, 225, 225, 0.6), #000000 0 0 0.8rem inset;
    cursor: pointer;

    .partner-container {
        align-self: center;
        margin: auto;
        height: 93%;
        width: 95%;
        background-color: $color-white;
        border-radius: 10px;
        box-shadow: inset 0 0 0.1rem 0.1rem #2E2929;
        display: flex;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;

        .partner-button {
            width: auto;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .partner-image {
            height: 85%;
            width: 90%;
            object-fit: contain;
        }
    }
}

//tablets (vanaf 768px)
@media screen and (min-width: 768px) {
    .section-container {
        height: 16vh;
        min-height: 35px;
        width: 17vw;
    }
}

//small screens (vanaf 992px)
@media screen and (min-width: 992px) {
    .section-container {
        height: 16vh;
        min-height: 35px;
        width: 17vw;
    }
}

//standard screen (vanaf 1200px)
@media screen and (min-width: 1200px) {
    .section-container {
        height: 17vh;
        min-height: 35px;
        width: 17vw;
    }
}

//large screens (vanaf 1600px)
@media screen and (min-width: 1600px) {

    .section-container {
        height: 15vh;
        min-height: 35px;
        width: 15vw;
    }
}

