@import "../../styles/styles.scss";

.input-container {
  width: 95%;

  input {
    width: 95%;
    height: 4rem;
    background-color: $color-input-bgr;
    border-radius: 10px;
    font-family: Avenir;
    font-weight: lighter;
    font-size: 28px;
    color: $color-white-trans;
    margin-bottom: 1.3rem;
    box-shadow: inset 0.3rem 0.3rem 0 0 $color-black;
    padding-left: 1rem;
  }

  label {
    font-family: Avenir;
    font-weight: lighter;
    font-size: 24px;
    color: $color-white-trans;
    padding-left: 1rem
  }

  input::placeholder {
    font-size: 28px;
    padding-left: 1rem;
  }

  .error_message {
    color: $color-red;
    margin-top: -16px;
    margin-bottom: -5px;
    margin-left: 15px;
    font-size: 16px;
  }
}

/*input[type="text"] {*/
/*    font-size: 20px;*/
/*    margin-left: 10px;*/
/*}*/

/*input[type="number"] {*/
/*    font-size: 20px;*/
/*    margin-left: 10px;*/
/*}*/

/*input[type="radio"] {*/
/*    font-size: 20px;*/
/*    margin-left: 10px;*/
/*}*/

/*input[type="password"] {*/
/*    font-size: 20px;*/
/*    margin-left: 10px;*/
/*}*/


