@import "../../styles/styles.scss";

.noSelection {
  height: 80vh;
  width: 100%;
  margin-left: 10rem;

  h1 {
    padding-top: 20vh;
  }

  h3 {
    padding-left: 5vh;
    padding-bottom: -10vh;
  }
}

.page-container-region {
  height: 175vh;
  width: 100%;

  .page {
    display: flex;
    align-items: center;
    justify-content: center;

    .results-grid {
    }
  }
}

.page-container-name {
  height: 80vh;
  width: 100%;
  margin-left: 10vh;
}

.page-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;

  .page {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.results-grid {
  padding-top: 5vh;
  padding-left: 10vw;
  padding-right: 10vw;
  //margin: 10vh 10vh 10vh auto;
  width: 95vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem 2rem;
}

.bluebutton-container {
  margin-bottom: 10rem;
  margin-left: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .bluebutton {
    width: 25vw;
    min-width: 400px;
  }
}


//tablets (vanaf 768px)
@media screen and (min-width: 768px) {
}

//small screens (vanaf 992px)
@media screen and (min-width: 992px) {
  .results-grid {
    grid-template-columns: 1fr 1fr;
    gap: 3em 3em;
  }
}

//standard screen (vanaf 1200px)
@media screen and (min-width: 1200px) {
  .results-grid {;
    grid-template-columns: 1fr 1fr;
    gap: 3em 3em;
  }
}

//large screens (vanaf 1600px)
@media screen and (min-width: 1600px) {
  .results-grid {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 3em 3em;
    }


}




