@import "../../styles/styles.scss";

.spinner-container{
    margin-top: -200px;
    margin-bottom: -10px;
    width: 100vw;
    height: 105vh;
    background-color: #584E4ED6;
    display: flex;
    flex-direction: column;

    h2 {
        margin-top: 800px;
        margin-left: 1000px;
        color: $color-blue;
    }

    .spinner {
        position: absolute;
        margin-top: 200px;
        margin-bottom: 10px;
        left: 30vw;
        transform: translate(50%, 50%);
        /*margin-left: 500px;*/
    }
}



