@import "../../styles/styles.scss";

.home-page-container {
  heigth: 100vh;
  width: 100vw;

  .page {
    margin-top: -150px;
    margin-bottom: -10vh;

    .content {
      padding-top: 50vh;
      padding-left: 10vw;
      height: 50vh;

      //.logo{
      //  width: 30%;
      //}

      h1 {
        font-size: 2vw;
      }

      h2 {
        margin-left: 30vw;
        font-size: 1.6vw;
        color: $color-blue;
        font-style: italic;
      }
    }
  }
}

//tablets (vanaf 768px)
@media screen and (min-width: 768px) {
}

//small screens (vanaf 992px)
@media screen and (min-width: 992px) {

}

//standard screen (vanaf 1200px)
@media screen and (min-width: 1200px) {
}

//large screens (vanaf 1600px)
@media screen and (min-width: 1600px) {
}



