@import "../../styles/styles.scss";


.select-container {
  display: flex;
  flex-direction: column;

  select {
    width: 28rem;
    max-width: 28rem;
    height: 4rem;
    background-color: $color-input-bgr;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 25px;
    font-family: Avenir;
    font-weight: lighter;
    font-size: 28px;
    color: $color-white-trans;
    padding-left: 15px;
    margin-bottom: 1.3rem;
    box-shadow: inset 0.3rem 0.3rem 0 0 $color-black;
    border-left: $color-white;
    border-top: $color-white;
  }

  option {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: $color-red !important;
    font-family: Avenir;
    font-weight: lighter;
  }

  option, optgroup {
    -webkit-appearance: none;
  }

  option {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    background: $color-red  !important;
  }

  .error_message {
    color: $color-red ;
    margin-bottom: -20px;
    font-size: 16px;
  }
}

