@import "../../styles/styles.scss";

.popup-container {
  position: fixed;
  background: #000000BF;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  display: flex;

  .popup {
    position: fixed;
    top: 20vh;
    width: 450px;
    height: 550px;
    background: #2E2929CC;
    border-radius: 4px;
    border: 0.1rem solid $color-blue;
    overflow: auto;
    margin: auto;
    margin-bottom: -10px;
    flex-direction: column;

    .popup-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .logo {
        margin-top: 1rem;
        margin-left: -1rem;
      }

      .close-icon {
        cursor: pointer;
        background: transparent;
        width: 3.5rem;
        height: 3.5rem;
        text-align: start;
        margin-top: -0.4rem;
        border: 0rem;
        font-family: Avenir;
        font-size: 30px;
        font-weight: normal;
        color: $color-blue;
      }

    }

    .popup-title {
      align-items: center;
      justify-content: center;
      display: flex;

      h1 {

      }
    }

    form {
      padding-top: 2rem;
      display: flex;
      width: auto;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .signup-form {
        .input-row {
        }
      }
    }
  }

  .popup-submit {
    margin-top: 15px;
    margin-left: 20px;
  }

  .popup-footer {
    margin-top: 2.5rem;
    width: 100vw;
    height: 100px;
    background-color: #00000059;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    h2 {
      font-family: Avenir;
      font-weight: lighter;
      color: #FFFFFF80;
      font-size: 25px;
    }

    .button-link {
      cursor: pointer;
      color: $color-white;
      text-decoration: underline;
      font-family: "Avenir";
      font-size: 25px;
      font-weight: normal;
      background-color: transparent;
      border-color: transparent;
      cursor: pointer;
    }
  }
}

//tablets (vanaf 768px)
@media screen and (min-width: 768px) {
  .popup-container {
    .popup {

      width: 500px;
      height: 570px;
    }
  }
}

//small screens (vanaf 992px)
@media screen and (min-width: 992px) {
  .popup-container {
    .popup {
      height: 610px;

      .popup-footer {
        height: 100px;
      }
    }
  }
}

//standard screen (vanaf 1200px)
@media screen and (min-width: 1200px) {
  .popup-container {
    .popup {
      width: 1000px;
      height: 655px;

      form {
        .signup-form {

          .input-row {
            margin-left: 40px;
            display: flex;
            width: 90%;
            flex-direction: row;
          }

        }
      }

      .popup-header {
        .close-icon {
          font-size: 50px;
        }
      }

      .popup-submit {
        width: 800px;
        padding-left: 30px;
      }

      .inbetween {
        width: 30px;
      }

      .popup-footer {
        height: 110px;
      }
    }
  }
}

//large screens (vanaf 1600px)
@media screen and (min-width: 1600px) {
  .popup-container {
    .popup {
      width: 1200px;
      height: 695px;

      .popup-header {
        .close-icon {
          font-size: 55px;
        }
      }

      .popup-submit {
        width: 800px;
        padding-left: 100px;
        padding-right: 30px;
      }

      .inbetween {
        width: 20px;
      }

      .popup-footer {
        height: 110px;
      }
    }
  }
}
