@import "../../styles/styles.scss";


bluebird-page-container {
  margin-top: -250vh;
  heigth: auto;
  width: 100%;

  .bg_image {
    margin-left: -100vw;
  }
}

.page {
  flex: 1;
  alignItems: 'center';
  justifyContent: 'center';
  margin-left: 5vw;
  margin-top: -200vh;
  margin-bottom: -8vh;

  h1 {
    margin-left: -0.3vw;
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.4rem;
    max-width: 90%;
  }

  .bluebird-text {
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 2%;
  }

  .text {
    margin-top: -1%;
  }
}

.partners-container {
  color: #1FA5C4;
  height: auto;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;

  .partners-text {
    color: $color-blue;
    font-weight: bold;
    margin-left: 5vw;
    margin-top: 15vw;
  }

  .partners-grid {
    margin-top: -5vh;
    margin-top: 3vw;
    align-self: center;
    //margin-left: -5vw;
    width: 60vw;
    height: auto;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 100px;

  }
}

//tablets (vanaf 768px)
@media screen and (min-width: 768px) {
  .page {
    margin-top: -180vh;

    h1 {
      margin-left: -0.3vw;
      font-size: 1.9rem;
    }

    h2 {
      font-size: 1.3rem;
      max-width: 60%
    }

  }
}
//small screens (vanaf 992px)
@media screen and (min-width: 992px) {
  .page {
    margin-top: -180vh;
    h1 {
      margin-left: -0.3vw;
      font-size: 2.1rem;
    }

    h2 {
      font-size: 1.7rem;
      max-width: 60%
    }

  }
  .partners-container {
    .partners-text {
    }
    .partners-grid {
      align-self: center;
      margin-left: -5vw;
      width: 75vw;
      height: auto;
      display: inline-grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px 60px;

    }
  }
}

//standard screen (vanaf 1200px)
@media screen and (min-width: 1200px) {
  .page {
    margin-top: -180vh;
    h1 {
      margin-left: -0.3vw;
      font-size: 2.3rem;
    }

    h2 {
      font-size: 1.8rem;
      max-width: 45%
    }

  }
  .partners-container {
    .partners-text {
    }
    .partners-grid {
      align-self: center;
      margin-left: -5vw;
      width: 75vw;
      height: auto;
      display: inline-grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px 60px;

    }
  }
}

//large screens (vanaf 1600px)
@media screen and (min-width: 1600px) {

  bluebird-page-container {
    margin-top: -250vh;
    heigth: 400vh;
    width: 100%;


    .bg_image {
      //margin-left: 50vw;
    }
  }

  .page {
    flex: 1;
    alignItems: 'center';
    justifyContent: 'center';
    margin-left: 5vw;
    margin-top: -180vh;


    h1 {
      margin-left: -0.3vw;
      font-size: 2.5rem;
    }

    h2 {
      font-size: 2.1rem;
      max-width: 35%
    }

    .bluebird-text {
      font-weight: bold;
      margin-top: 10%;
    }

    .text {
      margin-top: -1%;
    }
  }

  .partners-container {
    color: #1FA5C4;
    height: auto;
    margin-top: -26vh;

    display: flex;
    flex-direction: column;

    .partners-text {
      color: $color-blue;
      font-weight: bold;
      margin-left: 5vw;
      margin-top: 18vw;
    }

    .partners-grid {
      align-self: center;
      margin-left: 5vw;
      width: 75vw;
      height: auto;
      display: inline-grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 30px 60px;

    }
  }
}
