@import "../../styles/styles.scss";

.leftmenu {
  position: fixed;
  top: 160px;
  left: 50px;
  display: flex;

  .menu-item {
    flex-direction: column;
    width: 60px;

    .button-icon {
      margin-left: 10px;
      margin-top: 10px;
      border-radius: 10px;
      padding: 10px;
    }

  }
}

.button-icon:hover + .button-text {
  display: block;
  margin-left: 10px;
  width: auto;
  color: $color-blue;
}

.button-text {
  display: none;
}

//tablets (vanaf 768px)
@media screen and (min-width: 768px) {
}

//small screens (vanaf 992px)
@media screen and (min-width: 992px) {
}

//standard screen (vanaf 1200px)
@media screen and (min-width: 1200px) {
  .leftmenu {
    position: fixed;
    top: 275px;
    display: block;

    .menu-item {
      flex-direction: row;
      width: 200px;

      .button-icon {
        margin-left: 10px;
        margin-top: 10px;
        border-radius: 10px;
        padding: 10px;
      }

    }
  }
}

//large screens (vanaf 1600px)
@media screen and (min-width: 1600px) {


}
