@import "../../styles/styles.scss";

.header-container {
  display: flex;
  padding-top: 5vh;
  background-color: transparent;

  .topmenu-container {
    width: 30vw;
    margin-left: auto;
    margin-right: 6vw;
  }
}
