@import "../../styles/styles.scss";


.input-search {
  max-width: 800px
}

.buttons-container {
  margin-bottom: 5rem;
}

.submit {
  margin: auto;
  width: 60%;
  max-width: 500px;
}

.select-label {
  font-family: Avenir;
  font-weight: lighter;
  font-size: 24px;
  color: $color-white-trans;
  padding-left: 1rem
}

//tablets (vanaf 768px)
@media screen and (min-width: 768px) {
}

//small screens (vanaf 992px)
@media screen and (min-width: 992px) {
}

//standard screen (vanaf 1200px)
@media screen and (min-width: 1200px) {
}

//large screens (vanaf 1600px)
@media screen and (min-width: 1600px) {
  .page-container {
    .page {
      padding-top: 5vh;
      margin-left: 10vh;

    }
  }
}


