@import "../../styles/styles.scss";

.footer-container {
  background-color: transparent;
  margin-top: -3%;
  align-items: center;
  margin-left: 15px;
  padding-bottom: 15px;

  .footer-text {
    color: $color-blue;
    margin-left: 2vw;
  }
}


