@import "../../../styles/styles.scss";

.section-container {
  background-color: lightyellow;
  height: 10rem;
  width: 10rem;
  cursor: pointer;

  .donate-container {
    align-self: center;
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .donate-button {
      width: auto;
    }

    .donate-image {
      height: 10rem;
      width: 10rem;
      border-radius: 40px;
      border: 4px solid $color-blue;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

//tablets (vanaf 768px)
@media screen and (min-width: 768px) {
  .section-container {
    height: 15rem;
    width: 15rem;

    .donate-container {
      .donate-image {
        height: 15rem;
        width: 15rem;
      }
    }
  }
}

//small screens (vanaf 992px)
@media screen and (min-width: 992px) {
}

//standard screen (vanaf 1200px)
@media screen and (min-width: 1200px) {
}

//large screens (vanaf 1600px)
@media screen and (min-width: 1600px) {
}

