@import "../../styles/styles.scss";

.page-container {
  .page {
    .column1 {
      h2 {
        color: $color-black;
      }
    }
  }
}

h2 {
  color: $color-black;
}

.grid {
  width: 80%;
  padding: 2rem 10%;
  height: auto;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem 3rem;
}


//tablets (vanaf 768px)
@media screen and (min-width: 768px) {
}

//small screens (vanaf 992px)
@media screen and (min-width: 992px) {
}

//standard screen (vanaf 1200px)
@media screen and (min-width: 1200px) {
}

//large screens (vanaf 1600px)
@media screen and (min-width: 1600px) {
  .grid {
    padding-left: 4rem;
    margin: 1rem;
    min-width: 800px;
    width: 80%;
    height: auto;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5% 5%;
  }
}
